hwy_data/WLS/eure/wls.e24.wpt
hwy_data/WLS/eure/wls.e24ewl.wpt
hwy_data/WLS/eure/wls.e301.wpt
hwy_data/WLS/eure/wls.e303wre.wpt
hwy_data/WLS/eure/wls.e303.wpt
hwy_data/WLS/eure/wls.e305.wpt
hwy_data/WLS/eure/wls.e307.wpt